.Connection-Banner {
    width: 100%; 
    position: fixed; 
    color: white; 
    padding: 8px;
    &.Connection-Banner-Online {
        background: green;
    }
    &.Connection-Banner-Offline {
        background-color: red;
    }
}
